<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Global Green Concepts</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>
  <section class="navsec" style="min-height:100vh; min-width:100vw">
    <nav style="padding-top: 20px;">
      <div class="nav-wrapper">
        <a href="/" class="left brand-logo" style="padding-left: 30px;"><img src="../static/img/logo3.png" alt=""></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger right show-on-med-and-down forjq"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="forjq" href="#sec2">ABOUT</a></li>
          <li><a class='forjq' href="#services">SERVICES</a></li>
          <li><a class="forjq" href="#blogs">BLOGS</a></li>
          <li><a class="forjq" href="#clients">CLIENTS</a></li>
          <li><a class="forjq" href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>
    <div style="padding-top: 20%;" class="center" >
      <h3 class="white-text" style="padding-left: 35%; padding-right: 35%;"><b>WHEN THE WELL IS DRY, WE WILL KNOW THE WORTH OF <span style="color: aqua;">WATER.</span></b> </h3>
      <button class="green btn waves-effect white-text" style="margin-top:3%">OUR SOLUTIONS</button>
    </div>
  </section>

  <ul id="slide-out" class="sidenav" style="background-color: white">
    <li><a style="color:black" class="waves-effect" href="#sec2">ABOUT</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:black" class='waves-effect' href="#services">SERVICES</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:black" class="waves-effect" href="#blogs">BLOGS</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:black" class="waves-effect" href="#clients">CLIENTS</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:black" class="waves-effect" href="#contact">CONTACT</a></li>
    <li><div class="divider"></div></li>
  </ul>

  <section style="min-height:100vh" id="sec1" style="padding: 0% !important;margin: 0% !important;">
    <div style="text-align:center; padding: 10px 0px 0px">
      <h3 class="green-text section scrollspy" id="sec2"><b>ABOUT US</b></h3>
    </div>

    <div class="center container">
      <p><b>
        Global Green Concepts Pvt Ltd. (GGC) is uniquely positioned as an Environment Solutions Provider with over fifteen years experience in one major business domain - Water & Environment.
      </b></p>
    </div>

    <br>

    <div class="row" style="padding: 0% !important;margin: 0% !important;">
      <div class="col s12 m12 l7" style="padding: 0% !important;margin: 0% !important;">
        <img style="height: 480px; width: 100%; padding: 0%;margin: 0%;" src="../static/img/about1.jpg" alt="">
      </div>
      <div class="col s12 m12 l5 aboutsec center" style="padding: 0%;margin: 0%;">
        <div class="center" style="padding: 0% !important; margin: 0px 0px !important;">
          <img src="../static/img/11.png" alt="" width="100px" height="100px" style="margin: 0px 0px !important; padding: 0px 0px !important;">
          <p style="font-size: x-large;margin: 0px 0px; padding-top: 0%; padding-bottom: 10px;"class="green-text"><b>LEADERS IN WATER MANAGEMENT</b></p>
        </div>
        <div style="padding: 5% 15%;">
          <p style="width: 400px;">Global Green Concepts Pvt Ltd. (GGC) is uniquely positioned as an Environment Solutions Provider with over fifteen years experience in one major business domain - Water & Environment.<br><br>
            We are internationally recognized with references in the entire gamut of environmental solutions including, but not limited to: Sewage & Effluent Treatment Technologies, Water Conservation Methods,etc.<br>
          </p>
        </div>
      </div>
    </div>


    <div class="row" style="padding: 0% !important;margin: 0% !important;">
      <div class="col s12 m12 l6 aboutsec center" style="padding: 0%;margin: 0%;">
        <div class="center" style="padding: 0% !important; margin: 0px 0px !important;">
          <img src="../static/img/Unknown.png" alt="" width="100px" height="100px" style="margin: 0px 0px !important; padding: 0px 0px !important;">
          <p style="font-size: x-large;margin: 0px 0px; padding-top: 0%; padding-bottom: 10px;"class="green-text"><b>BEST-IN-CLASS SOLUTIONS</b></p>
        </div>
        <div style="padding: 5% 20%;">
          <p style="width: 400px;">True to its title, GGC focuses entirely on offering integrated solutions for all environment engineering related problems and issues. The end result is that your business and your environment thrive hand in hand helping to sustain each other.<br> Our core strength’s include consulting in the water space, along with turnkey solutions for creating water-related infrastructure.<br>
          </p>
        </div>
      </div>
      <div class="col s12 m12 l6" style="padding: 0% !important;margin: 0% !important;">
        <img style="height: 480px; width: 100%; padding: 0px 0px;margin: 0%;" src="../static/img/MOM.jpg" alt="">
      </div>
    </div>


    <div class="row" style="padding: 0% !important;margin: 0% !important;">
      <div class="col s12 m12 l7" style="padding: 0% !important;margin: 0% !important;">
        <img style="height: 480px; width: 100%; padding: 0%;margin: 0%;" src="../static/img/16.jpg" alt="">
      </div>
      <div class="col s12 m12 l5 aboutsec center" style="padding: 0%;margin: 0%;">
        <div class="center" style="padding: 0% !important; margin: 0px 0px !important;">
          <img src="../static/img/Re.png" alt="" width="100px" height="100px" style="margin: 0px 0px !important; padding: 0% !important;">
          <p style="font-size: x-large;margin: 0px 0px; padding-top: 0%; padding-bottom: 10px;"class="green-text"><b>INTERNATIONALLY RECOGNIZED</b></p>
        </div>
        <div style="padding: 5% 15%;">
          <p style="width: 400px;">We are the licensee for the world renowned Anox Kaldnes MBBR™ process invented and patented by Anox Kaldnes, a Swedish/Norwegian conglomerate with several intellectual properties in the field of waste water treatment technology.<br><br> We provide wastewater treatment solutions for all types of applications, from compact domestic systems to large-scale turnkey solutions, including feasibility studies
          </p>
        </div>
      </div>
    </div>


  </section>

  <section>
    <div class="center section scrollspy green" id="services">
      <h3 class="white-text"><b>SERVICES</b></h3>
    </div>
    <div class="row">
      <div class="col s12 m12 l3 waves-effect stuff c2" style="padding: 0% !important; margin: 0px !important;">
        <h3 class="servicestext2 white-text center">ROOFTOP <br>HARVESTING</h3>
      </div>
      <div class="col s12 m12 l3 waves-effect stuff c1" style="padding: 0% !important; margin: 0px !important;">
        <h3 class="servicestext1 white-text center">GROUNDWATER <br>RECHARGE</h3>
      </div>
      <div class="col s12 m12 l3 waves-effect stuff c3" style="padding: 0% !important; margin: 0px !important;">
        <h3 class="servicestext1 white-text center">WATER <br>MANAGEMENT<br> CONSULTANCY</h3>
      </div>
      <div class="col s12 m12 l3 waves-effect stuff c4" style="padding: 0% !important; margin: 0px !important;">
        <h3 class="servicestext2 white-text center">INFRASTRUCTURE <br> SOLUTIONS</h3>
      </div>
    </div>
  </section>

  <section class style="margin: 0px 0px !important; padding: 0px 0px !important;">
    <div class="center section scrollspy" id="clients">
      <h3 class="green-text"><b>TRUSTED BY</b></h3>
    </div>
    <br>
    <!-- <div class="carousel">
      <a class="carousel-item" href="#one!"><img src="../static/img/client1.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="../static/img/client2.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="../static/img/client3.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../static/img/client4.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="../static/img/client5.jpg"></a>
      <a class="carousel-item" href="#six!"><img src="../static/img/client6.jpg"></a>
      <a class="carousel-item" href="#seven!"><img src="../static/img/client7.jpg"></a>
      <a class="carousel-item" href="#eight!"><img src="../static/img/client8.jpg"></a>
      <a class="carousel-item" href="#nine!"><img src="../static/img/client9.jpg"></a>
      <a class="carousel-item" href="#ten!"><img src="../static/img/client10.jpg"></a>
      <a class="carousel-item" href="#eleven!"><img src="../static/img/client11.jpg"></a>
      <a class="carousel-item" href="#twelve!"><img src="../static/img/client12.jpg"></a>
      <a class="carousel-item" href="#thirteen!"><img src="../static/img/client13.jpg"></a>
      <a class="carousel-item" href="#fourteen!"><img src="../static/img/client14.jpg"></a>
      <a class="carousel-item" href="#fifteen!"><img src="../static/img/client15.jpg"></a>
      <a class="carousel-item" href="#sixteen!"><img src="../static/img/client16.jpg"></a>
      <a class="carousel-item" href="#seventeen!"><img src="../static/img/client17.jpg"></a>
      <a class="carousel-item" href="#eighteen!"><img src="../static/img/client18.jpg"></a>
      <a class="carousel-item" href="#nineteen!"><img src="../static/img/client19.jpg"></a>
      <a class="carousel-item" href="#twenty!"><img src="../static/img/client20.jpg"></a>
      <a class="carousel-item" href="#twentyone!"><img src="../static/img/client21.jpg"></a>
      <a class="carousel-item" href="#twentytwo!"><img src="../static/img/client22.jpg"></a>
      <a class="carousel-item" href="#twentythree!"><img src="../static/img/client23.jpg"></a>
      <a class="carousel-item" href="#twentyfour!"><img src="../static/img/client24.jpg"></a>
    </div> -->

    <div>
      <div class="row">
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client1.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client2.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client3.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client4.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client5.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client6.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client7.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client8.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client9.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client10.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client11.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client12.jpg" alt="" height="100%" width="100%">
        </div>
      </div>
      <div class="row">
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client12.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client13.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client14.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client15.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client16.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client17.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client18.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client19.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client20.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client21.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client22.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="col s1 m1 l1 clientimg">
          <img src="../static/img/client23.jpg" alt="" height="100%" width="100%">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="center section scrollspy" id="contact">
      <h3 class="green-text"><b>CONTACT</b></h3>
    </div>

    <div class="row" style="padding: 0% 0% !important; margin: 0px 0px !important;">
      <div class="col s7 m7 l7" style="max-height: 600px !important; padding: 0% 0% !important; margin: 0px 0px !important">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc5o8F4n_qntArzzGpOa-iMmOLHXzJbPJ6G6bMnqKc37kb4WA/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      <div class="col s5 m5">
        <h3 style="font-size: xx-large;" class="center" style="padding-top: 0px; margin-top: 0px;"><b>OFFICES</b></h3>
        
        <div class="row" style="padding: 0% 0% !important; margin: 0px 0px !important;">
          <div class="card" style="height: 180px; margin-right: 10px !important; padding: 0% 0% !important; margin: 0px 0px !important;">
            <div class= "col s6 m6 l6" style="padding: 0% 0% !important; margin: 0px 0px !important;">
              <div style="width: 100%"><iframe width="100%" height="180" src="https://maps.google.com/maps?width=100%&height=150&hl=en&q=Winner%E2%80%99s%20Court%2C%20%20%20Office%20No.%20203%2C%20%20Lullanagar%20Junction%2C%20%20%20Above%20ZK%E2%80%99s%20Hotel%2C%20Kondhwa%2C%20%20%20Pune%20%E2%80%93%20411040+(Global%20Green%20Concepts)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/journey-planner.htm">Map Directions</a></iframe></div><br />
            </div>
          <div class="col s6 m6 l6">
            <p>
              <b>PUNE (HEADQUARTER)</b> <br>
              Winner’s Court,   Office No. 203, <br>
              Lullanagar Junction,   Above ZK’s Hotel,<br>
              Kondhwa,   Pune – 411040 <br>
              <i class="fas fa-phone-alt green-text"></i> +91 97304 82222 <br>
              <i class="fas fa-phone-alt green-text"></i> +91 97303 50000 <br>
              <i class="fas fa-envelope green-text"></i> &nbsp;<a href="mailto:info@greenconcept.in" target="_top">info@greenconcept.in</a>
            </p>
          </div>
          </div>
        </div>

        <div class="row" style="padding: 0% 0% !important; margin: 0px 0px !important;">
          <div class="card" style="height: 180px; margin-right: 10px !important; padding: 0% 0% !important; margin: 0px 0px !important;">
            <div class= "col s6 m6 l6" style="padding: 0% 0% !important; margin: 0px 0px !important;">
        <div style="width: 100%"><iframe width="100%" height="180" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=14%2C%20CSC1%2C%20DDA%20Market%2C%20Sector%206%2C%20Rohini%2C%20New%20Delhi%2C%20Delhi%20110085+(Global%20Green%20Concepts)&ie=UTF8&t=&z=13&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/journey-planner.htm">Journey Planner UK</a></iframe></div><br />
            </div>
          <div class="col s6 m6 l6">
            <p>
              <b>DELHI (BRANCH OFFICE)</b> <br>
              14, CSC1, DDA Market, <br>
               Sector 6, Rohini,<br>
               New Delhi, Delhi 110085 <br>
              <i class="fas fa-phone-alt green-text"></i> +91 86690 31516 <br>
              <i class="fas fa-phone-alt green-text"></i> +91 89176 34849 <br>
              <i class="fas fa-envelope green-text"></i> &nbsp;<a href="mailto:info@greenconcept.in" target="_top">info@greenconcept.in</a>
            </p>
          </div>
          </div>
        </div>

        <div class="row" style="padding: 0% 0% !important; margin: 0px 0px !important;">
          <div class="card" style="height: 180px; margin-right: 10px !important; padding: 0% 0% !important; margin: 0px 0px !important;">
            <div class= "col s6 m6 l6" style="padding: 0% 0% !important; margin: 0px 0px !important;">
              <div style="width: 100%"><iframe width="100%" height="180" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Sharjah%20Airport%20International%20Free%20Zone%2C%20%20P6%20-073%2C%20%20%20Sharjah%2C%20%20%20U.A.E+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/journey-planner.htm">find directions</a></iframe></div><br />
            </div>
          <div class="col s6 m6 l6">
            <p>
              <b>UNITED ARAB EMIRATES</b> <br>
              Sharjah Airport International Free Zone, <br>
              P6 - 073, Sharjah, U.A.E <br>
              <i class="fas fa-envelope green-text"></i> &nbsp;<a href="mailto:info@greenconcept.in" target="_top">info@greenconcept.in</a>
            </p>
          </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">GLOBAL GREEN CONCEPTS</h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="right">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook"></i></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &nbsp;&nbsp; © 2020 GLOBAL GREEN CONCEPTS
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="https://kit.fontawesome.com/d9f7d83514.js" crossorigin="anonymous"></script>


</body>
</html>
