<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Diapro</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>

  <nav style="min-height:80px; line-height: 80px">
    <div class="nav-wrapper">
      <a href="/" class=" center brand-logo">DIAPRO</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-med-and-down forjq"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="forjq" href="/about">ABOUT US</a></li>
        <li><a class='dropdown-trigger forjq' href='#' data-target='dropdown1'>WHY DIAPRO?</a></li>
        <li><a class="forjq" href="/product">PRODUCTS</a></li>
        <li><a class="forjq" href="#social">SOCIAL</a></li>
      </ul>
    </div>
  </nav>

  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li class="divider"></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
  </ul>

  <ul id="slide-out" class="sidenav" style="background-color: black; margin-top: 80px">
    <li><a style="color:white" class="waves-effect" href="/about">ABOUT US</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class='waves-effect' href="/why">WHY DIAPRO?</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="/product">PRODUCTS</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="#social">SOCIAL</a></li>
    <li><div class="divider"></div></li>
  </ul>

  <section style="min-height: max-content !important; margin-top: 80px;">
    <div class="parallax-container" style="min-height: max-content !important">
      <div class="parallax"><img style="min-height: 100%;" src="/static/img/logo.jpeg"></div>

      <div>
        <h1 class="section scrollspy white-text" id="aboutmain" style="text-align: center; margin-bottom: 0px">ABOUT US</h1>
        <hr class="title-under"/>
      </div>
      <br>
      <div class="container" style="text-align:center">
        <p class="white-text" style="font-size: 20px">As a diabetic, you have heard about what happens if you don&rsquo;t take care of your feet, and naturally we and you don&rsquo;t want that to happen to you.<br />
          <br />
          What is the difference between a diabetic shoe and one from a normal shoe-store? What makes a diabetic shoe more preferential over any store-bought style of footwear?<br />
          <br />
          A person with diabetes has to be wary of losing sensation in their feet, which occurs gradually; as blood flow is impeded to the extremities, bumps and calluses harm the soft tissues and can cause the person real damage. The nerve damage that characterizes diabetic peripheral neuropathy is common in diabetic patients. As diabetic peripheral neuropathy progresses, various nerves are affected-these damaged nerves encourage the development of ulcers.<br />
          <br />
          We have all experienced &ldquo;Off the shelf&rdquo; pair of shoes that rubs the skin raw in one place, pushes in another and feels uncomfortable. If you are diabetic, you have to ensure these things don&rsquo;t happen to you. Read more <a href="/about"> here</a>
        </p>
      </div>

      <h3 class="white-text center"><span style="color:red; font-weight:bold">DIAPRO</span> is a leading manufacturer and distributor of customized diabetic footwear.</h3>

      <div class="container" style="text-align:center">
        <p class="white-text center" style="font-size: 20px">Diapro was started with the intention of providing reliable and effective shoes that offset many of the complications associated with Diabetic Patients. Our shoes provide a level of comfort and support that is unheard of and rarely seen amongst our competitors.<br />
          Our &ldquo;DIAPRO&reg; Diabetic Footwear&rdquo; is patient friendly, clinically accepted, time tested and conforms to all safety and medical standards, along with &ldquo;certifications&rdquo;.</p>
        </div>
      </div>
  </section>

  <section class="section scrollspy" id="social">&nbsp;
    <h3 style="color: black" class="center">SOCIAL</h3>
    <hr class="title-under" />&nbsp;
    <div class="row">
      <div class="col s12 m6 cardstuff">
        <div class="card teal">
          <div class="fb-page" data-adapt-container-width="false" data-height="500" data-hide-cover="false" data-href="https://www.facebook.com/diaprodr/" data-show-facepile="true" data-small-header="true" data-tabs="timeline" data-width="578">
            <blockquote cite="https://www.facebook.com/diaprodr/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/diaprodr/">DIAPRO-Diabetic Sandals &amp; Shoes</a></blockquote>
          </div>
        </div>
      </div>

      <div class="col s12 m6 cardstuff">
        <div class="card"><a class="twitter-timeline" data-height="500" data-width="500" href="https://twitter.com/diapro_dr?ref_src=twsrc%5Etfw">Tweets by diapro_dr</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      </div>
    </div>
  </section>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red tooltipped" data-position="top" data-tooltip="CONTACT US" href="/contact">
      <i class="large material-icons">call</i>
    </a>
  </div>


  <footer style="padding-top: 0; background: black; min-height: 50px" class="page-footer">
    <div class="footer-copyright">
      <div class="container white-text text-lighten-4">
        DIAPRO © 2019
        <a class="white-text text-lighten-4 right" href="/contact">CONTACT US</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
