<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Global Green Concepts</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" media="screen,projection">
</head>
<body>
  <section class="navsec" style="min-height:100vh; min-width:100vw">
    <nav style="padding-top: 20px;">
      <div class="nav-wrapper">
        <a href="/" class="left brand-logo" style="padding-left: 30px;"><img src="../static/img/logo3.png" alt=""></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger right show-on-med-and-down forjq"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="forjq" href="/about">ABOUT</a></li>
          <li><a class='forjq' href='#'>SERVICES</a></li>
          <li><a class="forjq" href="/product">PROJECTS</a></li>
          <li><a class="forjq" href="#social">CLIENTS</a></li>
        </ul>
      </div>
    </nav>
    <div style="padding-top: 20%;" class="center" >
      <h3 class="white-text" style="padding-left: 35%; padding-right: 35%;"><b>WHEN THE WELL IS DRY, WE WILL KNOW THE WORTH OF <span style="color: aqua;">WATER.</span></b> </h3>
      <button class="green btn waves-effect white-text" style="margin-top:3%">OUR SOLUTIONS</button>
    </div>
  </section>

  <ul id="slide-out" class="sidenav" style="background-color: black">
    <li><a style="color:white" class="waves-effect" href="/about">ABOUT</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class='waves-effect' href="/why">SERVICES</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="/product">PROJECTS</a></li>
    <li><div class="divider"></div></li>
    <li><a style="color:white" class="waves-effect" href="#social">CLIENTS</a></li>
    <li><div class="divider"></div></li>
  </ul>

  <section style="min-height:100vh" id="sec1">
    <div style="text-align:center; padding: 10px 0">
      <h3 class="green-text"><b>ABOUT US</b></h3>
    </div>
    <div class="center container">
      <p><b>
        Global Green Concepts Pvt Ltd. (GGC) is uniquely positioned as an Environment Solutions Provider with over fifteen years experience in one major business domain - Water & Environment.
      </b></p>
    </div>
    <br>
    <div class="row" style="padding: 0% !important;margin: 0% !important;">
      <div class="col s12 m12 l7" style="padding: 0% !important;margin: 0% !important;">
        <img style="height: 480px; width: 100%; padding: 0%;margin: 0%;" src="../static/img/about1.jpg" alt="">
      </div>
      <div class="col s12 m12 l5 aboutsec" style="padding: 0%;margin: 0%;">
        <p style="padding: 15% 5%;">Global Green Concepts Pvt Ltd. (GGC) is uniquely positioned as an Environment Solutions Provider with over fifteen years experience in one major business domain - Water & Environment.<br><br>
           We are internationally recognized with references in the entire gamut of environmental solutions including, but not limited to: Sewage & Effluent Treatment Technologies, Water Conservation Methods,etc.<br><br>
           GGC offers its clients a total package of turnkey solutions in all areas of sustainability and environmental engineering in the water industry. True to its title, GGC focuses entirely on offering integrated solutions for all issues and problems related to environment engineering.<br>
        </p>
      </div>
    </div>
    <div class="row" style="padding: 0%; margin: 0%;margin: 0%;">
      <div class="col s12 m12 l6 aboutsec" style="padding: 0%;margin: 0%;">
        <p style="padding: 10% 5%;">True to its title, GGC focuses entirely on offering integrated solutions for all environment engineering related problems and issues.
          <br> The end result is that your business and your environment thrive hand in hand helping to sustain each other. Our core strength’s include consulting in the water space, along with turnkey solutions for creating water-related infrastructure.<br><br>
          We are backed by more than a fifteen years of field experience in integrated water management technologies specializing in Roof Top, Ground Water Recharge, and Waste Water Recycling incorporating the state of the art green technology.<br>
          <br> GGC’s Rain Water Harvesting Systems recognized in India as a pioneering and innovative award winning company in the field of Rain Water Harvesting for which we received Social Impact Award, Earth Care Award from Times of India.
        </p>
      </div>
      <div class="col s12 m12 l6" style="padding: 0%;margin: 0%;">
        <img style="height: 480px; width: 100%; padding: 0%;margin: 0%;" src="../static/img/MOM.jpg" alt="">
      </div>
    </div>
    <div class="row" style="padding: 0%;margin: 0%;">
      <div class="col s12 m12 l7" style="padding: 0%;margin: 0%;">
        <img style="height: 480px; width: 100%; padding: 0%;margin: 0%;" src="../static/img/16.jpg" alt="">
      </div>
      <div class="col s12 m12 l5 aboutsec" style="padding: 0%;margin: 0%;">
        <p style="padding: 23% 5%;">
          We are the licensee for the world renowned Anox Kaldnes MBBR™ process invented and patented by Anox Kaldnes, a Swedish/Norwegian conglomerate with several intellectual properties in the field of waste water treatment technology.<br><br> We provide wastewater treatment solutions for all types of applications, from compact domestic systems to large-scale turnkey solutions, including feasibility studies.
        </p>
      </div>
    </div>
  </section>
  <footer style="padding-top: 0; background: green; min-height: 50px" class="page-footer">
    <div class="footer-copyright">
      <div class="container white-text text-lighten-4">
        GLOBAL GREEN CONCEPTS © 2020
        <a class="white-text text-lighten-4 right" href="/contact">CONTACT US</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

</body>
</html>
